@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Space Mono', monospace;
  user-select: none;
  background-color: #81CEE6;
}

.underlined {
  text-decoration: underline;
  text-decoration-thickness: 12px;
  text-underline-offset: -4px;
  text-decoration-skip-ink: none;
  text-decoration-color: #EBC28E;
}

h1{
letter-spacing: -0.2rem;
}

.tight{
  letter-spacing: -0.075rem;
}

.button {
  transition: transform 0.2s ease; /* Adding transition for smooth animation */
}

.button:active {
  transform: translate(4px, 4px); /* Move 4 pixels on both x and y-axis */
}

.blink {
  animation: blink 1.5s linear infinite;
}

@keyframes blink {
  90% {
  opacity: 0.25;
  brightness: 1.5;
  }
}

	.floating {
		animation-name: floating;
		animation-duration: 5s;
		animation-iteration-count: infinite;
		animation-timing-function: ease-in-out;
	}
	.floating-2 {
		animation-name: floating-2;
		animation-duration: 6s;
		animation-iteration-count: infinite;
		animation-timing-function: ease-in-out;
	}
	@keyframes floating-2 {
		0% {
			transform: translate(0, 0px);
      transform:scale(1);
		}
		50% {
			transform: translate(15px, 15px);
      /* transform:scale(1.05); */
		}
		100% {
			transform: translate(0, -0px);
      transform:scale(1);
		}
	}

	@keyframes floating {
		0% {
			transform: translate(0, 0px);
		}
		50% {
			transform: translate(-15px, 15px);
		}
		100% {
			transform: translate(0, -0px);
		}
	}
